.search,
.search-result {
    width: 361px;
}

.search-title {
    background: #fff;
    color: #000;
    opacity: 0.7;
    font-size: 1.4rem;
    font-weight: 600;
}

.search {
    position: relative;
    height: var(--search-heght);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    background: rgba(22, 24, 35, 0.06);
    display: flex;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        color: var(--black);
        height: 100%;
        font-size: 1.6rem;
        caret-color: var(--primary);
        background-color: transparent;
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        height: calc(var(--search-heght) - var(--search-top-spacer) * 2);
        width: 1px;
        position: absolute;
        top: 9px;
        right: var(--search-botton-width);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-botton-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 1.5s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: var(--search-botton-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    cursor: pointer;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background: rgba(22, 24, 35, 0.06);
    }
}
