.wrapper {
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    margin: 0px auto;
    padding: 32px 24px;
    box-sizing: content-box;
    min-height: calc(100vh - 59px);
}
.layout-header {
    position: relative;
    flex: 0 0 auto;
    margin-bottom: 20px;
    box-sizing: border-box;
    min-width: 580px;
    padding-right: 92px;
}

.div-share-info {
    display: flex;
    align-items: center;
}
.item-info {
    flex: 1 1 0%;
    cursor: pointer;
    overflow: visible;
    margin-left: 20px;
}
.title-info {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.title {
    font-family: var(--font-family);
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}
.div-avatar {
    width: 116px;
    height: 116px;
}
.avatar {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
}

.check {
    margin-left: 4px;
    color: #fff;
    background-color: #20d5ec;
    border-radius: 50%;
    width: 20px;
    height: 20px;
}

.name {
    font-weight: 600;
    font-size: 18px;
    line-height: 25px;
    text-overflow: ellipsis;
    height: 25px;
    overflow: hidden;
    max-width: 450px;
    white-space: nowrap;
    display: flex;
    align-items: flex-end;
}
.btn-follow {
    min-width: 208px;
    line-height: 22px;
    min-height: 36px;
    font-size: 18px;
    font-weight: 600;
    margin: 16px 0px 0px;
}
.div-icon-function {
    position: absolute;
    top: 0px;
    right: 0px;
}
.btn-icon {
    font-size: 2.2rem;
    color: #161823;
    background-color: transparent;
    padding: 4px 12px;
    cursor: pointer;
}
.btn-edit-profile {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    height: 36px;
    font-size: 16px;
    -webkit-box-align: center;
    padding: 0px 16px;
    min-height: 36px;
    border-style: solid;
    margin-top: 16px;

    &:hover {
        border-color: rgb(208, 209, 211);
        background-color: rgb(248, 248, 248);
    }
}

.div-info-follow {
    display: flex;
    flex-direction: row;
    margin-top: 30px;
}
.div-info-item {
    color: rgba(22, 24, 35, 0.75);
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    display: inline-block;
    margin-left: 6px;
    margin-right: 30px;
}
.div-info-item-number {
    font-weight: bold;
    margin: 0px 5px;
    color: var(--black);
    font-size: 16px;
}
//layout-main
.layout-main {
}
// wrap-popper
.wrap-popper {
    position: fixed !important;
    width: 100%;
    height: 100%;
    z-index: 1000;
    background: var(--tux-colorSDSecondary);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 8%;
    overflow-y: hidden;
}
.div-tiktok-profile {
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    padding: 32px 16px;
    max-width: 100vw;
}
.edit-profile-popup {
    height: 700px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    -webkit-box-align: stretch;
    align-items: stretch;
    -webkit-box-pack: start;
    justify-content: flex-start;
    position: relative;
    outline: 0px;
    max-width: calc(100vw - 32px);
    background: var(--tux-colorBGPrimary);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    overflow: hidden;
    width: auto;
    transition-property: transform, opacity;
    transition-duration: 300ms;
    transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);
    opacity: 1;
    transform: none;
}
.edit-profile-header {
    font-weight: 600;
    font-size: 24px;
    padding: 24px 24px 12px;
    line-height: 36px;
    color: rgb(22, 24, 35);
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.2);
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    align-items: center;
}
.edit-profile-content-container {
    width: 700px;
    padding: 8px 24px 0px;
}
.edit-profile-title-icon {
    cursor: pointer;
}
.div-profile-container {
    padding: 16px 0px;
    display: flex;
    border-bottom: 0.5px solid rgba(22, 24, 35, 0.12);
}
.edit-profile-photo {
    font-weight: 600;
    line-height: 24px;
    font-size: 16px;
    width: 120px;
    margin-right: 24px;
}
.edit-profile-avatar {
    position: relative;
}
.container-avatar {
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin-left: 128px;
}
.container-style-avatar {
    display: inline-block;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-feature-settings: 'tnum';
    position: relative;
    overflow: hidden;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    vertical-align: middle;
    line-height: 0px;
    border-radius: 50%;
    background-color: rgba(136, 136, 136, 0.5);
    border-color: rgba(22, 24, 35, 0.12);
    border-width: 0.5px;
    cursor: pointer;
}
.tiktok-avatar {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.tiktok-edit-avatar {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(208, 208, 211);
    box-sizing: border-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    cursor: pointer;
    position: absolute;
    bottom: 0px;
    margin-left: 192px;
}
.edit-profile-username-input {
    position: relative;
}
.tiktok-input-text {
    width: 360px;
    height: 38px;
    border-radius: 4px;
    background: rgba(22, 24, 35, 0.06);
    caret-color: rgb(254, 44, 85);
    font-size: 16px;
    color: rgb(22, 24, 35);
    line-height: 24px;
    outline: none;
    border: none;
    padding: 7px 12px;
    box-sizing: border-box;

    &:focus {
        background: rgba(22, 24, 35, 0.06);
        outline: rgba(22, 24, 35, 0.2) solid 1.5px;
    }
}
.edit-profile-username-link {
    font-size: 12px;
    color: rgba(22, 24, 35, 0.75);
    line-height: 18px;
    margin-top: 16px;
    max-width: 460px;
    overflow: hidden;
}
.edit-profile-username-tip {
    font-size: 12px;
    color: rgba(22, 24, 35, 0.75);
    line-height: 18px;
    max-width: 460px;
    overflow: hidden;
    margin-top: 8px;
    width: 360px;
}
.edit-profile-bio-input {
    width: 360px;
    border-radius: 4px;
    background: rgba(22, 24, 35, 0.06);
    caret-color: rgb(254, 44, 85);
    font-size: 16px;
    color: rgb(22, 24, 35);
    line-height: 24px;
    outline: none;
    border: none;
    box-sizing: border-box;
    height: 100px;
    padding: 12px;
    resize: none;

    &:focus {
        background: rgba(22, 24, 35, 0.06);
        outline: rgba(22, 24, 35, 0.2) solid 1.5px;
    }
}
.edit-profile-text-count {
    color: rgba(22, 24, 35, 0.75);
    font-size: 12px;
    line-height: 18px;
    height: 10px;
}
.edit-profile-footer {
    height: 86px;
    display: flex;
    padding: 0px 24px;
    -webkit-box-pack: end;
    justify-content: flex-end;
    -webkit-box-align: center;
    align-items: center;
    position: absolute;
    width: 100%;
    bottom: 0px;
}
.edit-profile-cancel {
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    color: rgb(22, 24, 35);
    border-color: rgba(22, 24, 35, 0.12);
    background-color: rgb(255, 255, 255);
    min-height: 28px;
    font-family: ProximaNova, PingFangSC, sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
    box-sizing: border-box;
    line-height: 24px;
    min-width: 0px;
    padding: 7px 16px;
    width: 96px;
    height: 36px;
    margin-left: 16px;

    &:hover {
        border-color: rgb(208, 209, 211);
        background-color: rgb(248, 248, 248);
    }
}
.edit-profile-save {
    border-radius: 4px;
    border: none;
    min-height: 28px;
    font-family: ProximaNova, PingFangSC, sans-serif;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    position: relative;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    user-select: none;
    box-sizing: border-box;
    line-height: 24px;
    min-width: 0px;
    padding: 7px 16px;
    width: 96px;
    height: 36px;
    margin-left: 16px;
    cursor: default;
    color: rgb(22 24 35 / 39%) !important;
    background-color: rgb(22 24 35 / 19%) !important;
}

.btn-save-disable-bc {
    color: var(--white) !important;
    background-color: var(--primary) !important;
    cursor: pointer;
}
.wrapper-layout-main {
    display: flex;
    flex-direction: column;
    min-width: 520px;
}
.layout-main-header {
    display: flex;
    width: 460px;
    height: 44px;
    position: relative;
    align-items: stretch;
    display: -webkit-flex;
}
.layout-item {
    font-weight: bold;
    font-size: 18px;
    position: relative;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    flex: 1 1 0%;
    height: 44px;
    cursor: pointer;
    text-align: center;
    color: rgb(22, 24, 35);
    border-bottom: 1px solid rgb(112 110 110 / 28%);
    margin: 0px !important;
    border-radius: 0px !important;
    color: rgba(22, 24, 35, 0.5);
}

.layout-item-video {
    &:hover {
        opacity: 1;
        border-bottom: 2px solid #000 !important;
        transition: opacity 0s ease-in 600ms, opacity 600ms;
    }
}

.layout-item-like {
    &:hover {
        opacity: 1;
        border-bottom: 2px solid #000 !important;
        transition: opacity 0s ease-in 600ms, opacity 600ms;
    }
}
.layout-item-choose {
    color: #000 !important;
    border-bottom: 2px solid #000 !important;
}
.layout-main-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}
.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 490px;
}
.person-icon {
    fill-opacity: 0.34;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.discription {
    font-size: 16px;
    line-height: 22px;
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-weight: 400;
    color: rgba(22, 24, 35, 0.75);
    margin-top: 8px;
}
