.wapper {
    --search-border-radius: 92px;
    --search-heght: 46px;
    --search-top-spacer: 9px;
    --search-botton-width: 52px;
    height: var(--default-layout-header-height, 60px);
    width: 100%;
    box-shadow: 0px 1px 1px rgb(0 0 0 / 12%);
    display: flex;
    justify-content: center;
}

.inner {
    height: 100%;
    width: var(--default-layout-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search {
    position: relative;
    width: 361px;
    height: var(--search-heght);
    border-radius: var(--search-border-radius);
    padding-left: 16px;
    background: rgba(22, 24, 35, 0.06);
    display: flex;
    border: 1.5px solid transparent;

    input {
        color: var(black);
        font-size: 1.6rem;
        height: 100%;
        background-color: transparent;
        flex: 1;
        caret-color: var(--primary);
    }

    &::after {
        content: '';
        height: calc(var(--search-heght) - var(--search-top-spacer) * 2);
        width: 1px;
        position: absolute;
        top: 9px;
        right: var(--search-botton-width);
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: 1.5px solid rgba(22, 24, 35, 0.2);
    }
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--search-botton-width) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.search-btn {
    width: var(--search-botton-width);
    height: 100%;
    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    cursor: pointer;
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);

    &:hover {
        background: rgba(22, 24, 35, 0.03);
    }

    &:active {
        background: rgba(22, 24, 35, 0.06);
    }
}
